<mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Josuke Higashikata</mat-card-title>
      <mat-card-subtitle>Nurtiologo Profesionista desde hace 4 años</mat-card-subtitle>
    </mat-card-header>
    <img 
    mat-card-image 
    src="https://i.pinimg.com/originals/7a/3c/67/7a3c6729c1db95d9003303cbb5a5c28e.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Josuke Jojo Higashikata
        <br>
        Nutriolo graduado de la salle bajío 
        Generación: del 2015 al 2019
        Edad: 24 años
        Fortaleza: Perdida de grasa
        Precio promedio de sus servicios: $800 mensuales
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button onClick="window.open('https://api.whatsapp.com/send?phone=524774332689&text=Hola,%20estoy%20interesado%en%20su%servicio%20quiero%20saber%20más')" 
      mat-button>Contactar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Giorno Giovanna</mat-card-title>
      <mat-card-subtitle>Nurtiologo Profesionista desde hace 2 años</mat-card-subtitle>
    </mat-card-header>
    <img 
    mat-card-image 
    src="https://64.media.tumblr.com/ab2401ca1964cb08cdc512c601920423/7d31ffa033ff915c-7b/s400x600/211ffaf58d9b427c6106e895d46894f0d8149321.pnj" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Giornno Giovanna Joestar
        <br>
        Nutriolo graduado de la Universidad de Guanajuato 
        Generación: del 2017 al 2020
        Edad: 22 años
        Fortaleza: Ganaacia muscular
        Precio promedio de sus servicios: $700 mensuales
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button onClick="window.open('https://api.whatsapp.com/send?phone=524774332689&text=Hola,%20estoy%20interesado%en%20su%servicio%20quiero%20saber%20más')" 
      mat-button>Contactar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card2" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Joshep Joestar</mat-card-title>
      <mat-card-subtitle>Nurtiologo Profesionista desde hace 15 años</mat-card-subtitle>
    </mat-card-header>
    <img 
    mat-card-image 
    src="https://i.pinimg.com/736x/3a/33/4d/3a334d53feed81788029bb6c4adda26a.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Joshep Joestar
        <br>
        Nutriolo graduado del Instituto Tecnologico de Celaya 
        Generación: del 1999 al 2002
        Edad: 50 años
        Fortaleza: Equilibirar dietas alimenticias para ganar masa muscular y perder grasa muscular
        Precio promedio de sus servicios: $1,500 mensuales
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button onClick="window.open('https://api.whatsapp.com/send?phone=524774332689&text=Hola,%20estoy%20interesado%en%20su%servicio%20quiero%20saber%20más')" 
      mat-button>Contactar</button>
    </mat-card-actions>
  </mat-card>
  