<mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Aaron Aguirre e Isaac Padilla</mat-card-title>
      <mat-card-subtitle>Desarrolladores del proyecto</mat-card-subtitle>
    </mat-card-header>
    <img 
    mat-card-image 
    src="https://c4.wallpaperflare.com/wallpaper/741/599/723/pizza-food-vegetables-fruit-wallpaper-preview.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        ¿Quienes somos?
        <br>
        Somos una grupo de amigos que estamos llevando a cabo un proyecto
        con el objetivo de que lleves una dieta adecuada para ti. Con el fin 
        de mejorar tu salud sin necesidad de ir con un nurtiologo. Claro nuestras dietas
        son propuestas por nutriologos al igual que nuestros estudios estan respaldados.
        Aquí conoceras mas del porque es importante tener una dieta y que no tienes que dejar
        de comer tu comida favorita. Todo esta en el balance de las calorias consumidas con las
        calorias quemadas. Ademas de saber que tipos de alimentos es mejor comer y que tipo de alimento
        se debe de balancear.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  